.icons{
    height: 300px;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    

    div{
        width: 240px;
        margin: 20px;

        i{
            color: #007bff;
            line-height: 70px;
            font-size: 3.5em;
        }

        h3{
            color: #212529;
            margin-bottom: 10px;
        }

        P{
            font-size: 0.9em;
            color: #a2a4a6;
            line-height: 20px;
        }
    }

    
}